# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Local Environment Variables
# **NEVER** commit this file!
.env.local

# Next.js build output
/.next/

# Production build
/out/

easter-egg-a72d1-firebase-adminsdk-fbsvc-93a6655926.json